<h1> Rechnungsverwaltung </h1>
<div>
    <p>Beispielprogramm zur Verwaltung von Rechnungen von kleinen Unternehmen<br>
        Erstellt auf der Basis von Google Angular 6 und Goggle Firebase</p>
</div>
<hr>
<div *ngIf="!settingsService.loginUser.id">
    <h2>Bitte melden Sie sich an</h2>
    <h4 style="color: red" *ngIf="loginFailed">Fehlerhafte Anmeldung</h4>
    <input type="text" [(ngModel)]="settingsService.email" placeholder="email" name="email">&nbsp;&nbsp;
    <input type="password" [(ngModel)]="settingsService.password" placeholder="password" name="password">&nbsp;&nbsp;
    <button (click)="signin(0)" [disabled]="!settingsService.email || !settingsService.password">
        Login
    </button>&nbsp;&nbsp;
    <button (click)="signin(1)" [disabled]="!settingsService.email || !settingsService.password">
        Signup
    </button>&nbsp;&nbsp;
    <button (click)="signin(2)">
        Login mit Google
    </button>
</div>
<div *ngIf="settingsService.loginUser.id">
    <h2>Welcome {{settingsService.loginUser.email}}!</h2>
    <p>Authority Level: {{settingsService.loginUser.authorityLevel}}&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;Created: {{settingsService.loginUser.created | date:'dd.MM.yyyy hh:mm'}}
        &nbsp;&nbsp;&nbsp;Provider: {{settingsService.loginUser.providerId}}
        &nbsp;&nbsp;&nbsp;ID: {{settingsService.loginUser.id}}
    </p>
    <hr>
    <h4 *ngIf="settingsService.loginUser.authorityLevel === 0">{{settingsService.setting.loginTxt0}}</h4>
    <strong *ngIf="settingsService.loginUser.authorityLevel === 1">{{settingsService.setting.loginTxt1}}</strong>
    <br *ngIf="settingsService.loginUser.authorityLevel === 1">
    <p *ngIf="settingsService.loginUser.authorityLevel === 2">{{settingsService.setting.loginTxt2}}</p>
    <p *ngIf="settingsService.loginUser.authorityLevel === 3">{{settingsService.setting.loginTxt3}}</p><br>
    <a routerLink="/invoice-list" *ngIf="settingsService.loginUser.authorityLevel >= 1">Rechnungen bearbeiten</a>&nbsp;&nbsp;
    <a routerLink="/customer-list" *ngIf="!settingsService.readonly">Kunden bearbeiten</a>&nbsp;&nbsp;
    <a routerLink="/user-list" *ngIf="settingsService.loginUser.authorityLevel >= 3">Benutzer bearbeiten</a>&nbsp;&nbsp;
    <a routerLink="/settings-detail" *ngIf="settingsService.loginUser.authorityLevel >= 3">Einstellungen bearbeiten</a>&nbsp;&nbsp;
    <hr>

    <button (click)="logout()">
        Logout
    </button>&nbsp;&nbsp;
    <button (click)="resetPassword()"
            *ngIf="settingsService.loginUser.id && !settingsService.passReset1 && settingsService.passReset2">
        Kennwort ändern
    </button>&nbsp;&nbsp;

    <h6 *ngIf="settingsService.loginUser.id && settingsService.passReset1">
        Das Rücksetzen des Kennwortes wurde eingeleitet, bitte prüfen Sie Ihr Postfach
    </h6>

</div>&nbsp;
