.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
}

.flex-container > div {
    margin-right: 20px;
    text-align: center;
}
